@import "../variables";
@import "../mixins";

.ribbon {
  position: absolute;
  width: 150px;
  height: 25px;
  top: 30px;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.02em;
  color: $white;

  &.left {
    left: -30px;
    transform: rotate(-45deg);
  }

  &.right {
    right: -30px;
    transform: rotate(45deg);
  }

  &.red {
    background-color: $red;
  }

  &.green {
    background-color: $green;
  }
}

.main {
  padding: 30px 20px;
  display: flex;
  justify-content: space-between;

  .info-wiki {
    background: $white;
    border: 0.5px solid $gray-200;
    box-sizing: border-box;
    box-shadow: 1px 2px 5px $shadow-300;
    border-radius: 10px;
    padding: 40px;
    margin-left: 30px;
    min-width: 335px;
    text-align: justify;

    h2 {
      line-height: 1.2;
      color: $gray-900;
    }

    p {
      line-height: 1.5;
      color: $gray-700;
    }
  }

  .card {
    min-width: 335px;
    border: none;

    .card-img-top {
      width: 300px;
      height: 400px;
      object-fit: cover;
      margin: 0 auto;
      box-shadow: 2px 4px 5px $shadow-400;
      border-radius: 10px;
      margin-bottom: -20px;
      z-index: 1;
    }

    .card-body {
      background: $white;
      border: 0.5px solid $gray-200;
      box-sizing: border-box;
      box-shadow: 1px 2px 5px $shadow-300;
      border-radius: 10px;
      padding: 40px 0px 0px 0px;

      .card-text,
      .card-title {
        padding: 0px 30px;
      }

      .card-buttons {
        border-top: 2px solid $gray-200;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding: 20px 40px;

        button {
          border-radius: 100px;
          width: 60px;
          height: 60px;
          border: 0;

          svg {
            width: 28px;
            height: 28px;
          }

          &.dislike {
            background-color: $red;

            svg path {
              fill: $gray-100;
            }
          }

          &.like {
            height: 80px;
            width: 80px;
            background-color: $green;

            svg path {
              fill: $gray-100;
            }
          }

          &.info {
            background-color: $gray-500;

            svg path {
              fill: $gray-100;
            }
          }
        }
      }
    }
  }
}

@include desktop {
  .main {
    padding: 2rem 6rem;
  }
}

@include cellphone {
  .main {
    flex-wrap: wrap;
    justify-content: center;

    .info-wiki {
      margin-top: 50px;
      margin-left: 0;
    }
  }
}
